<% provide(:title, "Home") %>
<h1>Wellcome to the Sample App</h1>
<p>
  This is the home page for the 
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<a href="#">Sign up now!</a><br>
<%=image_tag("bf_frontpage.png", alt: "Example Image")%>
